html {
  box-sizing: border-box;

  font: normal 100%/1.5 sans-serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  min-width: 320px;
}

.banner {
  padding-top: 3em;
  width: 100%;
  background-color: #2b3851;
}

.robot {
  width: 320px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

.robot-body {
  width: 320px;
}

.robot-head-right,
.robot-head-left {
  position: absolute;
  width: 125px;
}

.robot-brain {
  width: 46px;
  position: absolute;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
}

.robot-head-left {
  left: 35px;
  top: -40px;
}

.robot-head-right {
  right: 35px;
  top: -40px;
}

.robot:hover .robot-head-left {
  left: -10px;
  top: -50px;
}

.robot:hover .robot-head-right {
  right: -10px;
  top: -50px;
}

.robot:hover .robot-brain {
  top: -20px;
  left: 50%;
  transform: translateX(-50%);
}
